* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cells{
    display: grid;
    grid-gap: 5px;

    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(7, 80px);
    height: 200%;
    width: 50%;
    float: left;
    padding: 5px;
}

div{
	color: red;
	text-align: center;
	padding-top: 40px;
}



















